.also-like {
    margin: 0px 20px;
    padding-bottom: 80px;
}

.also-like h2 {
    font-size: 20px;
}

#also-like-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.also-like-list-item {
    width: 650px;
    box-shadow: 0px 0px 10px gray;
    margin: 0px 20px;
}

.also-like-list-item img {
    width: 650px;
    height: 300px;
    object-fit: cover;
}

.also-like-list-item-text {
    width: 100%;
}

.also-like-list-item-text span,
.also-like-list-item-text p {
    padding: 10px 0px 10px 50px;
}

.also-like-list-item-text> :nth-child(1),
.also-like-list-item-text> :nth-child(7) {
    color: #f94083;
    font-size: 45px;
}

.also-like-list-item-text> :nth-child(3) {
    color: #000;
    font-size: 45px;
}

.also-like-list-item-text> :nth-child(5) {
    color: #625f5f;
    font-size: 45px;
    margin: 0px 0px;
}

.also-like-btn-container {
    position: relative;
}

/* heart */
.also-like-btn-container> :nth-child(1) {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    right: 22%;
    margin-top: -8%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px gray;
}

/* share */
.also-like-btn-container> :nth-child(2) {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    right: 4%;
    margin-top: -8%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px gray;
}

.also-like-btn-container> :nth-child(3) {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 80px;
    background-color: #1d0031;
    border: 2px solid #83a8fe;
    position: absolute;
    z-index: 2;
    left: 3%;
    margin-top: -20%;
    border-radius: 2em;
}

.also-like-btn-container> :nth-child(3) img {
    height: 80px;
    width: 100px;
    border-right: 2px solid #83a8fe;
}

.also-like-btn-container> :nth-child(3) span {
    height: 100px;
    text-align: center;
    margin: auto 0em;
    padding: auto;
    color: white;
    font-size: 30px;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
}