.also-like {
  margin: 0px 20px;
  padding-bottom: 80px;
}

.also-like h2 {
  font-size: 20px;
  font-weight: 550;
}

#also-like-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* overflow-y:hidden; */
  padding: 10px 0px;
}

.also-like-list-item {
  width: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  margin: 0px 20px;
}

.also-like-list-item img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.also-like-list-item-text {
  width: 100%;
}

.also-like-list-item-text span,
.also-like-list-item-text p {
  padding: 1px 0px 10px 20px;
}
.also-like-aqua-text {
  padding: 0px !important;
  color: #2bcede;
}
.also-like-list-item-text > :nth-child(1),
.also-like-list-item-text > :nth-child(6) {
  color: #f94083;
  font-size: 15px;
}

.also-like-list-item-text > :nth-child(3) {
  color: #000;
  font-size: 15px;
}

.also-like-list-item-text > :nth-child(5) {
  color: #625f5f;
  font-size: 15px;
  margin: 0px 0px;
}

.also-like-btn-container {
  position: relative;
}

/* heart */
.also-like-btn-container > :nth-child(1) {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  right: 22%;
  margin-top: -10%;
  border-radius: 50px;
  box-shadow: 0px 0px 20px gray;
}

/* share */
.also-like-btn-container > :nth-child(2) {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  right: 4%;
  margin-top: -10%;
  border-radius: 50px;
  box-shadow: 0px 0px 20px gray;
}

/* owl and rating container */
.also-like-btn-container > :nth-child(3) {
  display: flex;
  flex-direction: row;
  width: 92px;
  height: 38px;
  background-color: #1d0031;
  border: 1px solid #83a8fe;
  position: absolute;
  z-index: 2;
  left: 3%;
  margin-top: -20%;
  border-radius: 5px;
}

/* owl image */
.also-like-btn-container > :nth-child(3) img {
  height: 38px;
  width: 37px;
  border-right: 2px solid #83a8fe;
}

.also-like-btn-container > :nth-child(3) span {
  width: 55px;
  text-align: center;
  margin: auto 0em;
  padding: auto;
  color: white;
  font-size: 15px;
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
}
