.crowd-density {
  margin: 0px 20px;
}

.crowd-density h2 {
  font-size: 20px;
  font-weight: 550;
}
.clock-image {
  width: 30%;
}
.crowd-graph-image{
  width: 50%;
}
.clock-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
}



